/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    
    font-family: 'Roboto','Raleway','Droid Sans', sans-serif;
}
html, body{
    background-color: #B8ACFA;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Rokkitt','Arvo','Slabo 27px', serif;
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Rokkitt','Arvo','Slabo 27px', serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #5344AD;
    color: #B8ACFA;
}
header{
    border-bottom: 0.8rem solid #5344AD;
    background-color: #3B307A;
    color: #B8ACFA;
}
.menu-h{
    width: 100%;
    
}

    .menu-h li{
        list-style: none;
        float: left;
        display: inline;
        width: 20%;
        text-align: center;
       background-color: #3B307A;
     
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }

        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
          display: block;
            color: #B8ACFA;
            text-decoration: none;
            
          
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover,
        .menu-h a:active{
            color: #3B307A;
            background-color: #8A81BB;
            animation: 0.75s anim ease-in-out;
            
            
           
        }
.menu-v{
    width: 20%;
    float:left;
    margin-top: 10px;
   
}
    .menu-v li{
        list-style: none;
        width: 100%;
        display: block;
        text-align: center;
        background-color: #7861FA;
        
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }


        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            
            display: block;
            color: #B8ACFA;
            text-decoration: none;
            border-top: 2px solid #3B307A;
            
          
           
            /* style the anchors to fill the entire width of the li */
        }

        .menu-v a:hover,
        .menu-v a:active{
            color: #7861FA;
            background-color: #3B307A;
            border-top: 2px solid #B8ACFA;
            animation: 0.75s anim ease-in-out;
        }

@keyframes anim {
    0% {
        
        opacity: 0;
    }
    100% {
        
        opacity: 1;
    } 
}



main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}
